@page
@model ProiectMedii.Pages.PatientFiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.Conditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.Conditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.PastVisitsSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.PastVisitsSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.Patient.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PatientFile.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
