@page
@model ProiectMedii.Pages.PatientFiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.Conditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.Conditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.PastVisitsSummary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.PastVisitsSummary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFile.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientFile.Patient.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PatientFile.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
