@page
@model ProiectMedii.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Patient Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Patient ID</dt>
        <dd class="col-sm-10">@Model.Patient.Id</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@($"{Model.Patient.FirstName} {Model.Patient.LastName}")</dd>

        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.Patient.Gender</dd>

        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.Patient.DateOfBirth.ToShortDateString()</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Patient.Email</dd>

        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.Patient.PhoneNumber</dd>

        <dt class="col-sm-2">Insurance Provider</dt>
        <dd class="col-sm-10">@Model.Patient.InsuranceProvider</dd>
    </dl>

    <p>
        <a asp-page="./Edit" asp-route-id="@Model.Patient.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </p>
</div>