@page
@model ProiectMedii.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get">
    <div class="form-group">
        <label for="searchName">Search by Name:</label>
        <input type="text" id="searchName" name="searchName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Insurance Provider</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patient)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@($"{patient.FirstName} {patient.LastName}")</td>
                <td>@patient.DateOfBirth</td>
                <td>@patient.Gender</td>
                <td>@patient.Email</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.InsuranceProvider</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@patient.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@patient.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@patient.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>