@page
@model ProiectMedii.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dd>
            <strong>License Number:</strong> @Model.Doctor.LicenseNumber
        </dd>
        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">
            <a href="tel:@Model.Doctor.PhoneNumber">@Model.Doctor.PhoneNumber</a>
        </dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            <a href="mailto:@Model.Doctor.Email">@Model.Doctor.Email</a>
        </dd>
        <dt class="col-sm-2">Specialization</dt> 
        <dd class="col-sm-10">@Model.Doctor.Specialization</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
